{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee Detail</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    

    <div class="container pt-5">

        <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src=" {{ employee.photo.url }}" alt="Employee Photo">
            <div class="card-body">
              <p class="card-text m-0"> {{ employee.first_name }} {{ employee.last_name }} </p>
              <p class="card-text m-0"> {{ employee.designation }}</p>
              <p class="card-text m-0"> {{ employee.email_address }}</p>
              <p class="card-text m-0"> {{ employee.phone_number }}</p>
            </div>

            <a href="{% url 'Home' %}" class="btn btn-primary">Back To Home</a>

          </div>

    </div>

</body>
</html>